<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Présentateurs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-content">
    <ion-list>
      <ion-item routerLink="/presentateurs/1" routerDirection="forward" detail>
        <ion-label>Pokémon Yellow</ion-label>
      </ion-item>
      <ion-item detail>
        <ion-label>Mega Man X</ion-label>
      </ion-item>
      <ion-item detail>
        <ion-label>The Legend of Zelda</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>