<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-content">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-padding">
            Platform
          </div>
          <div class="ion-padding">
            Version
          </div>
          <div class="ion-padding">
            UUID
          </div>
          <div class="ion-padding">
            Model
          </div>
          <div class="ion-padding">
            Connection
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-padding">
            {{platform}}
          </div>
          <div class="ion-padding">
            {{osVersion}}
          </div>
          <div class="ion-padding">
            {{uuid}}
          </div>
          <div class="ion-padding">
            {{model}}
          </div>
          <div class="ion-padding">
            {{connectionType}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>