<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Conférence
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-content">
    <ion-row>
      <ion-col class="">
        <ion-card class="conf-picture">
          <img src="assets/images/devfest.jpg" />
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h2>DevFest Nantes</h2>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h5>Le 21 et 22 octobre 2019</h5>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-button expand="block" shape="round" routerLink="/sessions">Voir les sessions</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" shape="round" routerLink="/presentateurs">Voir les présentateurs</ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>